.dropbtn {
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Cormorant Garamond', serif;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  padding: 15px 20px 15px 20px;
  display: block;
}

.dropdown-content a:hover {
  color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

